@mixin text ($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

.d-none {
    display: none;
}

.catalog-head {

    .catalog {
        width: 100%;
        border-top: 1px solid #3f4e6529;
        // position: absolute;
        background: #FFFFFF;
        padding-top: 37px;
        top: 0;

        .container {
            .catalog-box {
                display: flex;
                justify-content: space-between;

                .catalog-buttons {
                    width: 25%;
                    height: 100%;   
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    // .active{
                    //     width: 100%;
                    //     height: 100%;
                    //     background: #FFC85E;
                    // }

                    button {
                        width: 260px;
                        height: 55px;
                        border-radius: 36px;
                        border: 1px solid #FFC85E;
                        background: transparent;
                        @include text(16px, 500, #111111);

                        &:hover {
                            color: #FFFFFF;
                            background: #FFC85E;
                        }
                    }

                    .buttonActive {
                        color: #FFFFFF;
                        background: #FFC85E;
                    }
                }

                .catalog-items {
                    width: 74%;
                    display: flex;
                    flex-direction: column;

                    .catalog-item {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        // border: 2px solid;
                        // padding: 24px 0;
                        // padding-top: 24px;


                        .catalog-head-text {
                            @include text(16px, 500, #111111);
                            margin-bottom: 15px;
                        }

                        li {
                            @include text(14px, 400, #3F4E65);
                            line-height: 31px;
                            cursor: pointer;

                            &:hover{
                                color: #FFC85E;
                            }
                        }

                    }

                    .cat-item-ul1 {
                        padding-bottom: 20px;
                    }

                    .cat-item-ul2 {
                        ul {
                            padding-top: 20px;
                            border-top: 1px solid #3f4e6529;
                        }
                    }
                }
            }
        }

        @keyframes bottomIcon {
            0% {
                opacity: 0.1;
            }

            10% {
                opacity: 0.1;
                transform: translateY(-1px);
            }

            20% {
                opacity: 0.2;
                transform: translateY(-2px);

            }

            30% {
                opacity: 0.3;
                transform: translateY(-3px);

            }

            40% {
                opacity: 0.4;
                transform: translateY(-4px);

            }

            50% {
                opacity: 0.5;
                transform: translateY(-5px);

            }

            60% {
                opacity: 0.6;
                transform: translateY(-6px);

            }

            70% {
                opacity: 0.7;
                transform: translateY(-7px);

            }

            80% {
                opacity: 0.8;
                transform: translateY(-8px);
            }

            90% {
                opacity: 0.9;
                transform: translateY(-9px);
            }

            100% {
                opacity: 1;
                transform: translateY(-10px);
            }
        }

        .icon-bottom {
            width: 100%;
            display: flex;
            justify-content: center;

            button {
                border: 0;
                background: transparent;
            }

            .iconBottom {
                margin: 10px;
                animation: bottomIcon 2s linear infinite;
            }
        }
    }
}