.goods {
    .commodity {
        margin-top: 70px;
        h1 {
            color: #FFC85E;
            font-size: 40px;
            font-weight: 800;

            span {
                color: #111111;
                font-weight: 500;
            }
        }

        .no-commodity{
            color: red;
        }

    }

    .d-none{
        display: none;
    }
}