@mixin text ($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

// .container {
//     width: 80%;
//     margin: auto;
// }

    // border: 2px solid;
    // background: black;
    
    .Brends {
        width: 80%;
        // border: 2px solid;
        margin-bottom: 50px;

        h2 {
            @include text(40px, 800, #FFC85E);
            text-transform: uppercase;

            span {
                @include text(40px, 500, #111111);

            }
        }

        p {
            @include text(20px, 300, #3F4E65);
            margin-bottom: 40px;
        }
    }
