.map {
    width: 1366px;
    height: 600px;
    border-radius: 10px;
    background-image: url(./MapImg/map.png);
    background-size: 100%;
    position: relative;
    margin-bottom: 100px;
    margin-top: 70px;
}

.map-box {
    width: 730px;
    height: 430px;
    /* border: 2px solid; */
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 8px;
    background: #ffffffd5;
    padding: 70px 0 0 70px;
}

.map-item>h1 {
    font-size: 40px;
    font-weight: 500;
    color: #3F4E65;
}

.map-item>p {
    font-size: 20px;
    font-weight: 300;
    color: #3F4E65;
    margin-bottom: 20px;
}

.map-rek-box {
    width: 100%;
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;


}

.map-rek {
    margin-top: 20px;
    width: 38%;
}

.map-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: space-around; */
    font-size: 12px;
    font-weight: 400;
    color: #3F4E65;
    /* border: 2px solid; */

}

.map-rek>b {
    font-weight: 700;
    font-size: 14px;
    color: #111111;
    margin-left: 35px;
    line-height: 18px;


}

.map-icon>p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    font-weight: 400;
}

.map-icon>p>em {
    margin-top: 5px;
}

.map-icon>img {
    width: 25px;
    height: 25px;
    /* border: 2px solid; */
}

.mapRekTwo>.map-icon{
    transform: translateX(35px);
}