@media (max-width: 650px) {
    nav {
        .nav-top {
            .container {
                .nav-box {
                    .resBtnHeader {
                        padding: 10px;
                        font-size: 30px;
                        font-weight: 800;
                        border: none;
                    }
                }
            }
        }
    }
}


// @media (max-width: 425px) {
//     // nav{

//     // }
// }